.b-header {
	 margin-top: 50px;
	 margin-left: 465px;
	 margin-right: 465px;
	 padding-bottom: 120px;
}
.b-header h1 {
	color: #1F2F56;
	font-size: 27px;
	font-weight: bold;
	font-family: georgia;
}
.b-header p {
	color: #BFBFBF;
	font-size: 10px;
	font-weight: regular;
	font-family: georgia;
}
.b-header h4 {
	color: #C2C2C2;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	margin-top: 40px;
}
.b-title  {
	margin-left: 480px;
	margin-right: 480px;
	padding-bottom: 34px;
	background-image:url('images/bg-title.png')
}
.b-title a {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
	margin-left: 20px;
	position: relative;
	top: 5px;
}
.b-main {
	background-image:url('images/bg-main.png');
	margin-left: 480px;
	margin-right: 480px;
	height: 420px;
}
.b-main .b-main-1 p {
	opacity: 0.2;
}
.b-main .b-main-1 h1 {
	color: #FFFFFF;
	font-size: 27px;
	font-weight: bold;
	font-family: georgia;
	line-height: 1.2;
	background: #3E4358;
	padding: 20px;
	padding-top: 10px;
	opacity: 0.9;
	float: left;
	margin-top: 0px;
	position: relative;
	top: 80px;
	left: 40px;
}
.b-main-2 {
	background: #4BC4F8;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 50;
	opacity: 0.9;
	float: left;
	margin-top: 0px;
	position: relative;
	top: 70px;
	left: 40px;
}
.b-main .b-main-2 h5 {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: regular;
	font-family: georgia;
	line-height: 1.1;
	
}
.b-main .b-main-2 p{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
	position: relative;
	left: 20px;
}
