.l-content-wrap {
	width: 100%;
}
.l-content {
	width: 960px; 
	margin: 0 auto;
	}
.b-header {
	width: 960px;
	height:95px;
	margin-top:40px;
}

.b-header-left {
	float:left;
	width: 460px;
	height:60px;
	color: #1F2F56;
	font-size: 27px;
	font-weight: bold;
	font-family: georgia;
	line-height: 1.0;
}
.b-header-mid {
	float:left;
	width: 400px;
	height:60px;
	color: #C2C2C2;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	display:block;
	padding-left:20px;
	padding-top:15px;
}
.b-header-right {
	float:left;
	width: 100px;
	height:72px;
	background-image:url('images/bg-header-r.png');
}
.b-header-bottom {
	float:left;
	width: 300px;
	height:10px;
	color: #BFBFBF;
	font-size: 10px;
	font-weight: regular;
	font-family: georgia;
	margin-top:-12px;
}
.b-main {
	width: 960px;
	height:460px;
}
.b-main_items {
	width: 960px;
	height:34px;
}
.b-main_items a{
	display: block;
	float:left;
	width: 160px;
	height: 34px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
	text-align: center;
	text-decoration: none;
	padding-top:5px;
}
.b-main_items:hover,
.b-main_items:active,
.b-main_items:focus,
.b-main_items:visited		{
	color: #FFFFFF;
	text-decoration: none;
}
.b-main_item_1 {
	background-image:url('images/bg-main-top_1.png');
	background-repeat: repeat-x;
}
.b-main_item_1:hover{
	background-image:url('images/bg-main-top_1_2.png');
	background-repeat: repeat-x;
	}
.b-main_item_2 {
	background-image:url('images/bg-main-top_2.png');
	background-repeat: repeat-x;
}
.b-main_item_2:hover{
	background-image:url('images/bg-main-top_2_2.png');
	background-repeat: repeat-x;
	}
.b-main_item_3 {
	background-image:url('images/bg-main-top_3.png');
	background-repeat: repeat-x;
}
.b-main_item_3:hover{
	background-image:url('images/bg-main-top_3_2.png');
	background-repeat: repeat-x;
	}
.b-main_item_4 {
	background-image:url('images/bg-main-top_4.png');
	background-repeat: repeat-x;
}
.b-main_item_4:hover{
	background-image:url('images/bg-main-top_4_2.png');
	background-repeat: repeat-x;
	}
.b-main_item_5 {
	background-image:url('images/bg-main-top_5.png');
	background-repeat: repeat-x;
}
.b-main_item_5:hover{
	background-image:url('images/bg-main-top_5_2.png');
	background-repeat: repeat-x;
	}
.b-main_item_6 {
	background-image:url('images/bg-main-top_6.png');
	background-repeat: repeat-x;
}
.b-main_item_6:hover{
	background-image:url('images/bg-main-top_6_2.png');
	background-repeat: repeat-x;
	}
.b-main_bottom {
	width: 960px;
	height: 425px;
	background-image:url('images/bg-main_bottom.png');
	padding-left:32px;
	padding-top:82px;
}
.b-main_bottom_title {
	width: 535px;
	height: 165px;
	color: #FFFFFF;
	font-size: 27px;
	font-weight: bold;
	font-family: georgia;
	line-height: 1.2;
	background: #3E4358;
	padding: 10px;
	padding-top: 10px;
	padding-left:25px;
	opacity: 0.9;
	position: relative;	
}
.b-main_bottom_text {
	width: 535px;
	height: 140px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: regular;
	font-family: georgia;
	line-height: 1.1;
	background: #4BC4F8;
	padding: 20px;
	padding-top: 20px;
	padding-right:12px;
	opacity: 0.9;
	position: relative;
}
.b-main_button
		{
		display: block;
		margin-top:10px;
		float: left;
		height: 34px;
		padding: 0 5px 0 0;
		background-image: url('images/bg-main__button-r.png');
		background-position: right top;
		background-repeat: no-repeat;
		}
		
		.b-main_button:hover
			{
			background-image:url('images/bg-main__button-r_2.png');
			}
		
		.b-main_button__sliding
			{
			display: block;
			float: left;
			height: 34px;
			padding: 0 5px 0 20px;
			color: #FFFFFF;
			font-size: 18px;
			font-weight: bold;
			font-family: georgia;
			line-height: 34px;
			background-image: url('images/bg-main__button-l.png');
			background-position: left top;
			background-repeat: no-repeat;
			}
			
			.b-main_button__sliding:hover
				{
				background-image:url('images/bg-main__button-l_2.png');
				}

.b-news {				
	float:left;
	width: 620px;
	height:860px;
	margin-top:25px;
}
.b-news_header {
	height:20px;
	color: #3F3C4C;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
}
.b-news_contents {
	height:150px;
}
.b-news_data {
	height:45px;
	color: #7D7D7D;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	padding-top:20px;
}
.b-news_title {
	height:40px;
	padding-top:5px;
}
.b-news_title a{
	color: #07ACE4;
	font-size: 18px;
	font-weight: regular;
	font-family: georgia;
}
.b-news_text {
	height:45px;
	color: #4C4646;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	line-height: 1.1;
}
.b-news_button {
	height:22px;
	padding-top:5px;
	background-image: url('images/bg-news-details.png');
	background-repeat:no-repeat;
}
.b-news_button a{
	color: #A5A5A5;
	font-size: 11px;
	font-weight: regular;
	font-family: georgia;
	float: right;
	padding-right:5px;
}
.b-news_list {
	width: 330px;
	height:35px;
	background-color:F4F5F7;
	padding-top:5px;
	margin-top:40px;
}
.b-news_list li{
	display: inline;
	
}
.b-news_list a {
	color: #3857A7;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	text-decoration: none;
	padding:15px;
}
.pager-current_first {
	color: #3857A7;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	text-decoration: none;
	padding:15px;
}
.b-info {
	float:left;
	width: 320px;
	height:770px;
	margin-top:25px;
	margin-left:20px;
}
.b-info_header {
	height:20px;
	color: #3F3C4C;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
}
.b-info_text {
	height:160px;
	color: #4C4646;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	padding-top:25px;
	line-height: 1.1;
}
.b-info_title {
	height:55px;
	color: #4C4646;
	font-size: 16px;
	font-weight: regular;
	font-family: georgia;
	padding-top:25px;
}
.b-info_sections {
	height:65px;
	color: #4C4646;
	font-size: 14px;
	font-weight: regular;
	font-family: georgia;
	margin-bottom:15px;
	line-height: 1.2;
}
.b-info_sections ul {
    list-style-image: url('images/bg-b-info-star.png');
	padding-left: 20px;
	
}
.b-info_button
		{
		display: block;
		float: left;
		height: 28px;
		padding: 0 5px 0 0;
		background-image: url('images/bg-info_button-r.png');
		background-position: right top;
		background-repeat: no-repeat;
		margin-bottom:60px;
		}
		
		.b-info_button:hover
			{
			background-image:url('images/bg-info_button-r_2.png');
			}
		
		.b-info_button__sliding
			{
			display: block;
			float: left;
			height: 28px;
			padding: 0 10px 0 15px;
			color: #FFFFFF;
			font-size: 14px;
			font-weight: bold;
			font-family: georgia;
			line-height: 28px;
			background-image: url('images/bg-info_button-l.png');
			background-position: left top;
			background-repeat: no-repeat;
			}
			
			.b-info_button__sliding:hover
				{
				background-image:url('images/bg-info_button-l_2.png');
				}

.b-info_clicks {
	width: 270px;
	height:25px;
}
.b-info_clicks_l {
	width: 105px;
	float: left;
	margin-right:15px;
}
.b-info_clicks_m {
	width: 105px;
	float: left;
	margin-right:10px;
}
.b-info_clicks_r {
	width: 35px;
	float: left;
}
.b-info_bottom {
	height:15px;
	color: #888888;
	font-size: 12px;
	font-weight: regular;
	font-family: georgia;
	margin-top: 415px;
	margin-bottom:10px;
}
.b-CEI {
	float:left;
	width: 181px;
	height:50px;
	background-image:url('images/bg-CEI.png');
	margin-left:-12px;
}
.b-bottom {
	clear: both;
	width: 960px;
	height:50px;
	margin-top:40px;
	background-image:url('images/bg-bottom.png');
}
.b-bottom_l {
	padding-top:15px;
	float:left;
	width: 640px
}
.b-bottom_l li {
	display: inline;
	margin-right: 30px;
}
.b-bottom_l a {
	color:#FFFFFF;
	font-size: 12px;
	font-weight: regular;
	font-family: georgia;
}
.b-bottom_r {
	float:left;
	height:50px;
	width: 300px;
	color: #AEAEAE;
	font-size: 16.4px;
	font-weight: regular;
	font-family: georgia;
	padding-top:15px;
	text-align: center;
}




	
	

